html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: rgb(0,100,200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0,80,160);
}

label {
  display: block;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

button, label, input[type="checkbox"] {
  cursor: pointer;
}
.page-container.svelte-1dsh1dg.svelte-1dsh1dg{display:flex;flex-direction:column;justify-content:space-between;height:100%;padding-left:20px}.header.svelte-1dsh1dg.svelte-1dsh1dg{display:flex;justify-content:space-between;align-items:flex-start}.header.svelte-1dsh1dg>button.svelte-1dsh1dg{margin:10px}.header.svelte-1dsh1dg h1.svelte-1dsh1dg,.header.svelte-1dsh1dg h2.svelte-1dsh1dg{display:inline-block}h1.svelte-1dsh1dg.svelte-1dsh1dg{margin-top:0;margin-right:30px}h1.svelte-1dsh1dg a.svelte-1dsh1dg{color:black}h1.svelte-1dsh1dg a.svelte-1dsh1dg:hover{text-decoration:none}h2.svelte-1dsh1dg.svelte-1dsh1dg{margin-top:10px;margin-bottom:0}h2.svelte-1dsh1dg button.svelte-1dsh1dg{background:none;border:none}ul.svelte-1dsh1dg.svelte-1dsh1dg{list-style:none;padding-left:0;margin-top:7px}.breadcrumps.svelte-1dsh1dg.svelte-1dsh1dg{text-align:right;font-size:1.2rem;margin-right:15px}.breadcrumps.svelte-1dsh1dg li.svelte-1dsh1dg{display:inline-block;margin-right:10px}.breadcrumps.svelte-1dsh1dg li.svelte-1dsh1dg,.breadcrumps.svelte-1dsh1dg li a.svelte-1dsh1dg{color:gray}.breadcrumps.svelte-1dsh1dg li a.svelte-1dsh1dg{text-decoration:underline}input.svelte-1dsh1dg.svelte-1dsh1dg{width:500px;margin-left:10px}label.svelte-1fhk0gu.svelte-1fhk0gu{display:inline-block}.disabled.svelte-1fhk0gu.svelte-1fhk0gu{cursor:not-allowed}span.svelte-1fhk0gu.svelte-1fhk0gu{padding-left:4px;display:none}span.selected.svelte-1fhk0gu.svelte-1fhk0gu{display:inline-block}.hoverable-area.svelte-1fhk0gu.svelte-1fhk0gu{display:block}.hoverable-area.svelte-1fhk0gu.svelte-1fhk0gu:hover{background:rgb(254,255,188);background:linear-gradient(90deg,
      rgba(162, 190, 255, .3) 0%,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0) 100%
    )}.hoverable-area.svelte-1fhk0gu:hover span.svelte-1fhk0gu{display:inline-block}li.done.svelte-1fhk0gu label.svelte-1fhk0gu{text-decoration:line-through;opacity:.5}.hoverable-area.svelte-1fhk0gu>span.svelte-1fhk0gu{user-select:none;-moz-user-select:none;-khtml-user-select:none;-webkit-user-select:none;-o-user-select:none;font-weight:900;cursor:pointer}.hoverable-area.svelte-1fhk0gu>span.svelte-1fhk0gu:hover{text-decoration:none}li.svelte-1fhk0gu.svelte-1fhk0gu{margin-bottom:2px}