.page-container.svelte-q3d18c.svelte-q3d18c{display:flex;flex-direction:column;justify-content:space-between;height:100%;padding-left:20px}.header.svelte-q3d18c.svelte-q3d18c{display:flex;justify-content:space-between;align-items:flex-start}.header.svelte-q3d18c>button.svelte-q3d18c{margin:10px}.header.svelte-q3d18c h1.svelte-q3d18c,.header.svelte-q3d18c h2.svelte-q3d18c{display:inline-block}h1.svelte-q3d18c.svelte-q3d18c{margin-top:0;margin-right:30px}h1.svelte-q3d18c a.svelte-q3d18c{color:black}h1.svelte-q3d18c a.svelte-q3d18c:hover{text-decoration:none}h2.svelte-q3d18c.svelte-q3d18c{margin-top:10px;margin-bottom:0}h2.svelte-q3d18c button.svelte-q3d18c{background:none;border:none}ul.svelte-q3d18c.svelte-q3d18c{list-style:none;padding-left:0;margin-top:7px}.breadcrumps.svelte-q3d18c.svelte-q3d18c{text-align:right}.breadcrumps.svelte-q3d18c li.svelte-q3d18c{display:inline-block;margin-right:10px}input.svelte-q3d18c.svelte-q3d18c{width:500px;margin-left:10px}html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: rgb(0,100,200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0,80,160);
}

label {
  display: block;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

button, label, input[type="checkbox"] {
  cursor: pointer;
}
label.svelte-1uc3pjs.svelte-1uc3pjs{display:inline-block}.disabled.svelte-1uc3pjs.svelte-1uc3pjs{cursor:not-allowed}span.svelte-1uc3pjs.svelte-1uc3pjs{padding-left:4px;display:none}span.selected.svelte-1uc3pjs.svelte-1uc3pjs{display:inline-block}.hoverable-area.svelte-1uc3pjs.svelte-1uc3pjs{display:inline-block}.hoverable-area.svelte-1uc3pjs:hover span.svelte-1uc3pjs{display:inline-block}li.done.svelte-1uc3pjs label.svelte-1uc3pjs{text-decoration:line-through;opacity:.5}.hoverable-area.svelte-1uc3pjs>span.svelte-1uc3pjs{user-select:none;-moz-user-select:none;-khtml-user-select:none;-webkit-user-select:none;-o-user-select:none;font-weight:900;cursor:pointer}.hoverable-area.svelte-1uc3pjs>span.svelte-1uc3pjs:hover{text-decoration:none}li.svelte-1uc3pjs.svelte-1uc3pjs{margin-bottom:2px}